.register-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
  width: 100%;
}

.register-field form {
  width: 100%;
  max-width: 400px;
}

mat-form-field {
  width: 100%;
}

.register-header {
  text-align: center;
  margin-bottom: 16px;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  width: 100%;
  max-width: 400px;
  margin-top: 8px;
}
