.section {
  padding-right: 16px;
  padding-left: 16px;
}

.section-title {
  background-color: #e3f2fd;
  padding: 8px;
  border-radius: 4px;
}

mat-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.friend-list-element {
  display: flex;
  align-items: center;
  ::ng-deep mat-icon {
    text-decoration: none;
  }
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
  object-fit: cover;
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
}

.avatar-placeholder {
  background-color: #2196f3;
  color: white;
  display: flex;
  padding: 8px;
  border-radius: 50%;
  margin-right: 8px;
}
