.activity-card {
  position: relative;
  width: 95%
}

.activity-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e3f2fd;
  border-radius: 8px;
  padding: 16px;
  padding-bottom: 52px; /* space for avatars */
}

.activity-title {
  font-size: 24px;
  font-weight: bold;
}
.activity-description {
  font-size: 12px;
  color: grey;
}

.friends {
  position: absolute;
  bottom: 0px; /* makes them overlap the card */
  left: 16px;
  display: flex;
}

.friend-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;
  background: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: 2px solid white;

  /* overlap effect */
  margin-left: -8px;
}

.friend-avatar:first-child {
  margin-left: 0;
}

.friend-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
