<div class="container">

  <mat-card
    *ngFor="let activity of activities"
    class="activity-card"
    routerLink="{{activity.id}}" routerLinkActive="active" ariaCurrentWhenActive="page"
  >
      <mat-card-header>
        <mat-card-title>{{ activity.title }}</mat-card-title>
        <mat-card-subtitle>{{ activity.organization }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p><strong>Date:</strong> {{ activity.date | date:'mediumDate' }}</p>
        <div class="friends">
        <span *ngFor="let friend of activity.friends" class="friend-avatar">
          <img *ngIf="friend.avatar" [src]="friend.avatar" alt="{{ friend.name }}">
          <span *ngIf="!friend.avatar">{{ friend.name?.[0] }}</span>
        </span>
        </div>
      </mat-card-content>
  </mat-card>

</div>
