.app-card {
  display: flex;
  background-color: #ffffff;
  padding: 0;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(70, 96, 138, 0.08);
  transition: all 0.2s ease;
  width: 100%
}

.app-card:hover {
  box-shadow: 0 8px 16px rgba(70, 96, 138, 0.12);
  transform: translateY(-1px);
}

.card-left {
  width: 30%;
  background-color: #f3f3fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body{
  display: flex;
  width: 65%;
  min-width: 200px;
  justify-content: start;
  align-items: center;
  padding-left: 5rem;
}

.card-right {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding: 1rem;
}

.app-card.default {
  min-height: 160px;
}

.app-card.compact {
  min-height: 120px;
}

.app-card.compact .card-left{
  width: 10%;
}
