<mat-toolbar class="toolbarNav">
  <a routerLink="profile"  routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon class="material-icons">person</mat-icon></a>
  <a routerLink="community"  routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon class="material-icons">group</mat-icon></a>
  <a routerLink="home"  routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon class="material-icons">home</mat-icon></a>
  <a routerLink="organisations"  routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon class="material-icons">diversity_1</mat-icon></a>
  <a routerLink="activities"  routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon class="material-icons">checklist</mat-icon></a>
</mat-toolbar>

