<mat-toolbar class="toolbarNav">
  <a routerLink=""  routerLinkActive="active" ariaCurrentWhenActive="page" mat-fab><mat-icon class="material-icons color_blue">person</mat-icon></a>
  <a routerLink="organisations"  routerLinkActive="active" ariaCurrentWhenActive="page" mat-fab><mat-icon class="material-icons color_blue">group</mat-icon></a>
  <a mat-fab><mat-icon class="material-icons color_blue">home</mat-icon></a>
  <a mat-fab><mat-icon class="material-icons color_blue">diversity_1</mat-icon></a>
  <a mat-fab><mat-icon class="material-icons color_blue">checklist</mat-icon></a>
</mat-toolbar>

