<div class="section">
  <h3 class="section-title">{{sectionTitle}}</h3>
  <mat-list>
    <mat-list-item *ngFor="let org of organisationsList">
      <a class="organisation-list-element" routerLink="{{org.id}}" routerLinkActive="active" ariaCurrentWhenActive="page">
        <img [src]="org.profilePicture" [alt]="org.orgName + ' profile'"  class="avatar">
        <mat-icon *ngIf="!org.profilePicture" class="avatar-placeholder">groups</mat-icon>
        <span class="link-text">{{ org.orgName }}</span>
        <span class="spacer"></span>
        <mat-icon color="primary">check</mat-icon>
      </a>
    </mat-list-item>
  </mat-list>
</div>
