::ng-deep .mdc-tab {
  ::ng-deep .mdc-tab__text-label {
    color: #46608a;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.75rem;
    font-family: 'Inter', sans-serif;
  }
}

::ng-deep .mat-mdc-tab-labels {
  background-color: #ffffff;
  border-bottom: none;
  box-shadow: 0 2px 4px rgba(47, 50, 58, 0.03);
}
