::ng-deep .mdc-tab {
  margin: 1.5rem;
  ::ng-deep .mdc-tab__text-label {
    color: #46608a;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.875rem;
  }
}
