:root {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:        2px 2px 4px 5px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

a {
  background-color: rgb(0, 29, 46);
  box-shadow: none;
  color: white;
}

.unread-notification-badge {
  position: relative;
  top: -8px;
  left: -8px;
  font-size: 12px;
  line-height: 12px; /* vertically center text */

  display: flex;
  align-items: center;
  justify-content: center;
}
