<mat-card class="profile-card">

  <mat-card-header>
    <div mat-card-avatar
         class="profile-image"
         [style.background-image]="'url(' + user?.profilePicture + ')'">
    </div>

    <mat-card-title>{{ user?.name }}</mat-card-title>
    <mat-card-subtitle>{{ user?.email }}</mat-card-subtitle>

    <div class="icon-wrapper" (click)="sendFriendRequest()">
      <button matIconButton>
        <mat-icon>person_add</mat-icon>
      </button>
    </div>
  </mat-card-header>

  <mat-card-content>

    <p><strong>Account Created:</strong> {{ user?.joinedAt | date }}</p>

    @if (user?.phone) {
    <p><strong>Phone:</strong> {{ user?.phone }}</p>
    }

    <!-- FRIENDS -->
    <h3>Friends</h3>

    @for (friend of user?.friends; track friend.id) {
    <app-card size="compact" [link]="['/profile', friend.id]">

      <div card-left>
        <div class="avatar"
             [style.background-image]="'url(' + friend.profilePicture + ')'">
        </div>
      </div>

      <div card-body>
        <div class="item-title">{{ friend.name }}</div>
        <span class="item-subtitle">{{ friend.email }}</span>
      </div>

    </app-card>
    <br/>
    } @empty {
    <p>No friends yet.</p>
    }


    <!-- ORGANISATIONS -->
    <h3>Organizations Joined</h3>

    @for (org of user?.organisations; track org.id) {
    <app-card size="compact" [link]="['/organisations', org.id]">

      <div card-left>
        <div class="avatar"
             [style.background-image]="'url(' + org.profilePicture + ')'">
        </div>
      </div>

      <div card-body >
        <div class="item-title">{{ org.orgName }}</div>
        <span class="item-subtitle">{{ org.category }}</span>
      </div>

    </app-card>
    <br/>
    } @empty {
    <p>No organizations joined yet.</p>
    }


    <!-- ACTIVITIES -->
    <h3>Activities Joined</h3>

    @for (activity of user?.activities; track activity.id) {
    <app-card size="compact" [link]="['/activities', activity.id]">

      <div card-left>
        <mat-icon class="activity-icon">event</mat-icon>
      </div>

      <div card-body>
        <div class="item-title">{{ activity.title }}</div>
        <span class="item-subtitle">{{ activity.date | date }}</span>
      </div>

    </app-card>
    <br/>
    } @empty {
    <p>No activities joined yet.</p>
    }

  </mat-card-content>
</mat-card>
<app-share-button  class="corner-button"/>
